:root {
    --primary: #14169D;
    --secondary: #E2222A;
    --gray-100: #f3f4f6;
}

/* Custom Class */
.text-sm {
    font-size: 0.875rem;
}
.text-md {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-xl {
    font-size: 1.25rem;
}
.text-2xl {
    font-size: 1.5rem;
}
.text-3xl {
    font-size: 1.875rem;
}
.text-4xl {
    font-size: 2.25rem;
}
.text-5xl {
    font-size: 3rem;
}
.italic {
    font-style: italic;
}
.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
}
.grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}
.grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 0.5fr));
}
.text-justify {
    text-align: justify;
}

a {
    text-decoration: none;
}

/* Header & Footer */
.its-logo {
    height: 5rem;
}

.logo-title {
    color: var(--primary);
}

.logo-subtitle {
    color: var(--secondary);
}

.navbar-link {
    text-decoration: none;
    color: var(--primary);
}

.navbar-link:hover {
    color: var(--secondary);
    transition-duration: 300ms;
}

.search-container {
    position: relative;
}

input[type="text"] {
    padding-left: 1rem;
    padding-right: 4rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0rem;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
}
footer {
    background-color: var(--primary);
}

.footer-map {
    color: var(--secondary);
    padding-bottom: 0.5rem;
}

.footer-cabang {
    color: white;
}

.footer-alamat {
    color: white;
}

.newsletter-text {
    color: white;
}

.newsletter input {
    width: 75%;
}

.newsletter button {
    background-color: white;
    color: var(--primary);
    border: solid 1px var(--primary);
}
.newsletter button:hover {
    background-color: var(--secondary);
    color: white;
    transition-duration: 300ms;
}

.register-search {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.icons {
    padding-top: 5rem;
}

.newsletter-icon-facebook {
    color: white;
    padding: 0.75rem 1rem 0.75rem 1rem;
}

.newsletter-icon {
    color: white;
    padding: 0.75rem 0.85rem 0.75rem 0.85rem;
}

.newsletter-icon-youtube {
    color: white;
    padding: 0.75rem 0.6rem 0.75rem 0.6rem;
}

.newsletter-icon-x {
    color: white;
    padding: 0.75rem 0.7rem 0.75rem 0.7rem;
}

.newsletter-icon:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.newsletter-icon-facebook:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.newsletter-icon-youtube:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.newsletter-icon-x:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}

/* Beranda */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: auto;
    width: auto;
}
.popup-content img {
    height: 40rem;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.close-button:hover {
    color: var(--secondary);
    background-color: var(--gray-100);
    transition-duration: 300ms;
}

.slider-image {
    width: 100%;
    height: 650px;
}
.subtitle {
    color: var(--primary);
}
.category-card {
    background-color: var(--gray-100);
}
.category-card:hover {
    box-shadow: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition-duration: 300ms;
}
.category-image {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    background-color: white;
}
.category-name {
    color: black;
    text-decoration: none;
}
.category-card:hover .category-name{
    transition-duration: 300ms;
    color: var(--primary);
}
.selengkapnya {
    color: var(--primary);
}
.selengkapnya:hover {
    color: var(--secondary);
    transition-duration: 300ms;
}
.artikel-container {
    background-color: var(--gray-100);
}
.artikel-image-beeg {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.artikel-image-smol {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}
.artikel {
    gap: 1rem;
}
.artikel-container h1 {
    color: black;
}

.artikel-container:hover {
    box-shadow: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition-duration: 300ms;
}

.artikel-container:hover h1 {
    color: var(--primary);
}


/* Produk */
.brochure {
    color: white;
    background-color: var(--primary);
}
.brochure:hover {
    color: var(--primary);
    background-color: white;
    border: 2px solid var(--primary);
    transition-duration: 300ms;
}
.item-image {
    width: 100%;
}
.item-detail {
    gap: 4rem;
}
.brands {
    background-color: var(--gray-100);
}
.brands img {
    width: 100%;
    object-fit: cover;
}
.brands:hover {
    scale: 105%;
    transition-duration: 300ms;
}

.client {
    width: 100%;
}
.youtube-beranda {
    background-color: var(--gray-100);
}

/* Artikel */
.artikel-banner {
    width: 100%;
    height: 22rem;
    background-image: url('/images/artikel/artikelBg.jpg');
}

.article-image {
    width: 100%;
    object-fit: cover;
}

/* Karir */
.karir-banner {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

.search-karir {
    position: relative;
    width: 100%;
    border: solid 2px var(--primary);
    padding-left: 4rem;
    padding-right: 4rem;
}

.search-icon-karir {
    position: absolute;
    top: 100%;
    right: 10px;
    color: var(--primary);
}
.search-button-karir {
    background-color: var(--primary);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 1px var(--primary);
}
.search-button-karir:hover {
    background-color: white;
    border: solid 1.5px var(--primary);
    color: var(--primary);
    transition-duration: 150ms;
}

.career-card {
    position: relative;
    width: 100%;
    height: auto;
}
.career-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ensure the image covers the container */
    z-index: -1; /* Place the image behind other content */
}

.career-card button {
    border: solid 1px var(--primary);
    background-color: var(--primary);
    color: white;
}

.career-card:hover {
    transition-duration: 300ms;
    color: var(--primary);
    scale: 110%;
}

.career-card button:hover {
    background-color: white;
    color: var(--primary);
    transition-duration: 300ms;
    border: solid 2px var(--primary);
}

/* Tentang */
.tentang-banner {
    width: 100%;
    height: 22rem;
}

.tentang-body {
    background-color: var(--gray-100);
}

.milestone img {
    width: 100%;
}
.milestone button {
    background-color: white;
    border: solid 2px var(--primary);
    color: var(--primary);
}

.milestone button:hover {
    background-color: var(--primary);
    color: white;
    transition-duration: 300ms;
}

.visi-button {
    background-color: var(--primary);
    color: white;
    border: solid 1px var(--primary);
}
.misi-button {
    background-color: var(--secondary);
    color: white;
    border: solid 1px var(--secondary);
}

.visi-button:hover {
    color: var(--primary);
    background-color: white;
    border: solid 3px var(--primary);
    transition-duration: 300ms;
}
.misi-button:hover {
    color: var(--secondary);
    background-color: white;
    border: solid 3px var(--secondary);
    transition-duration: 300ms;
}
.visi-title {
    color: var(--primary);
}
.misi-title {
    color: var(--secondary);
}
.kebmut-img {
    width: 100%;
    object-fit: cover;
}
.sertif-button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}
.sertif-thumbnail {
    width: 100%;
    height: 12rem;
    object-fit: contain;
    background-color: white;
}
.sertif-thumbnail:hover {
    scale: 110%;
    transition-duration: 300ms;
}

.contact {
    gap: 2.2rem;
}

.location-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.location-button h1:hover {
    color: var(--secondary);
    transition-duration: 300ms;
}
