:root {
    --primary: #14169D;
    --secondary: #E2222A;
    --gray-100: #f3f4f6;
}

/* Custom Class */
.text-sm {
    font-size: 0.875rem;
}
.text-md {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-xl {
    font-size: 1.25rem;
}
.text-2xl {
    font-size: 1.5rem;
}
.text-3xl {
    font-size: 1.875rem;
}
.text-4xl {
    font-size: 2.25rem;
}
.text-5xl {
    font-size: 3rem;
}
.italic {
    font-style: italic;
}
.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
}
.grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}
.grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 0.5fr));
}
.text-justify {
    text-align: justify;
}

a {
    text-decoration: none;
}
.rounded-small {
    border-radius: 10px;;
}

/* Animation */
.hidden {
    opacity: 0;
    filter: blur(1);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Header & Footer */
header {
    position: fixed;
    background-color: white;
}

.navbar .brand .logo {
    max-height: 4rem;
}

.navbar .brand .company-name {
    color: var(--primary);
    font-weight: bold;
    font-size: medium;
}

.navbar .brand .motto {
    color: var(--secondary);
    font-weight: normal;
    font-size: small
}

.offcanvas-title {
    font-weight: bold;
    color: var(--primary);
}

.nav-link {
    position: relative;
    color: var(--primary);
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 100%;
    transition: 0.3s;
    border-radius: 25px;
    transform: scaleX(0);
    background: var(--secondary);
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link:hover {
    color: var(--secondary);
    transition-duration: 300ms;
}

.content {
    margin-top: 6rem;
}

.desktop {
    display: none;
}
footer {
    background-color: var(--primary);
    width: 100%;
}
.location .title {
    color: white;
}
.location .mapicon {
    color: var(--secondary);
}
.location h6 {
    color: white;
}
.newsletter .title {
    color: white;
}
.newsletter .box {
    width: 75%;
}
.newsletter .button {
    border: 1px solid var(--primary);
    background-color: white;
    color: var(--primary);
    transition-duration: 300ms;
}
.newsletter .button:hover {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: white;
    transition-duration: 300ms;
}

.newsletter-icon-facebook {
    color: white;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.newsletter-icon {
    color: white;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
}

.newsletter-icon-youtube {
    color: white;
    padding: 0.5rem 0.35rem 0.5rem 0.35rem;
}

.newsletter-icon-x {
    color: white;
    padding: 0.5rem 0.45rem 0.5rem 0.45rem;
}

.newsletter-icon:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.newsletter-icon-facebook:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.newsletter-icon-youtube:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.newsletter-icon-x:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}



/* Beranda */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: auto;
    width: auto;
}
.popup-content img {
    object-fit: cover;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.close-button:hover {
    color: var(--secondary);
    background-color: var(--gray-100);
    transition-duration: 300ms;
}
.slider-image {
    width: 100%;
    max-height: 650px;
}
.subtitle {
    color: var(--primary);
}

.childnimate:nth-child(1) {
    transition-delay: 100ms;
}

.childnimate:nth-child(2) {
    transition-delay: 200ms;
}

.childnimate:nth-child(3) {
    transition-delay: 300ms;
}

.childnimate:nth-child(4) {
    transition-delay: 400ms;
}

.childnimate:nth-child(5) {
    transition-delay: 500ms;
}

.childnimate:nth-child(6) {
    transition-delay: 600ms;
}

.card-category-image {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .category-card-container {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
.selengkapnya {
    color: var(--primary);
    transition-duration: 300ms;
}
.selengkapnya:hover {
    color: var(--secondary);
    transition-duration: 300ms;
}
.artikel-container {
    background-color: var(--gray-100);
    transition-duration: 300ms;
}
.artikel-image-beeg {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    transition-duration: 300ms;
}
.artikel-image-smol {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    transition-duration: 300ms;
}
.artikel-mobile {
    background-color: var(--gray-100);
    transition-duration: 300ms;
}
.artikel-mobile:hover h6 {
    color: var(--primary);
    transition-duration: 300ms;
}
.artikel-mobile a {
    text-decoration: none;
}
.artikel-mobile h6 {
    color: black;
    transition-duration: 300ms;
}


.artikel-mobile img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}
.artikel {
    gap: 1rem;
}
.artikel-container h1 {
    color: black;
}

.artikel-container:hover {
    box-shadow: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition-duration: 300ms;
}

.artikel-container:hover h1 {
    color: var(--primary);
}
.artikel-image {
    height: 4rem;
    width: 100%;
    object-fit: cover;
}

.truncate-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* .video {
    max-width: auto;
    max-height: auto;
} */

.brands-beranda {
    max-height: 12rem;
}
.brand-mobile {
    height: 8rem;
}

/* Produk */
.card {
    border: none;
    background-color: var(--gray-100);
    transition-duration: 300ms;
}
.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    transition-duration: 300ms;
}
.card-image {
    background-color: white;
    height: 16rem;
    width: 100%;
    object-fit: contain;
}
.card-text {
    color: black;
}
.card:hover .card-text {
    color: var(--primary);
    transition-duration: 300ms;
}

.brochure {
    color: white;
    background-color: var(--primary);
}
.brochure:hover {
    color: var(--primary);
    background-color: white;
    border: 2px solid var(--primary);
    transition-duration: 300ms;
}
.item-image {
    max-height: 40rem;
    width: 100%;
    object-fit: contain;
}

.item-brand {
    height: 2rem;
}
.item-brand-detail {
    height: 4rem;
}

.item-detail {
    gap: 4rem;
}
.brands {
    background-color: var(--gray-100);
}
.brands img {
    width: 100%;
    object-fit: cover;
}
.brands:hover {
    scale: 105%;
    transition-duration: 300ms;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item-card-brand {
    height: 50px;
    border-radius: 10px;
}

.selengkapnya-card {
    background-color: var(--gray-100);
    transition-duration: 300ms;
}
.selengkapnya-card img {
    width: 100%;
    object-fit: cover;
}
.selengkapnya-card h1 {
    color: black;
    transition-duration: 300ms;
}
.selengkapnya-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    transition-duration: 300ms;
}
.selengkapnya-card:hover h1 {
    color: var(--primary);
    transition-duration: 300ms;
}

.whatsapp-icon {
    background-color: #25D366;
    transition-duration: 300ms;
    z-index: 99999;

}

.wa-icon {
    color: white;
    transition-duration: 300ms;
}

.whatsapp-icon:hover {
    transition-duration: 300ms;
    scale: 110%;
}

.client {
    width: 100%;
}
.youtube-beranda {
    background-color: var(--gray-100);
}
.video-player {
    width: 100%;
    aspect-ratio: 16, 9;
    height: auto;
}

/* Artikel */
.artikel-banner {
    width: 100%;
    height: 460px;
    background-image: url('/images/artikel/artikelBg.jpg');
}


.image-container {
    height: 360px;
}
.article-card {
    background-color: var(--gray-100);
    transition-duration: 300ms;
}
.article-card img {
    height: 16rem;
    width: 100%;
    object-fit: cover;
}
.article-card h1 {
    color: black;
    transition-duration: 300ms;
}
.article-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    transition-duration: 300ms;
}
.article-card:hover h1 {
    color: var(--primary);
    transition-duration: 300ms;
}
.article-image {
    height: 22rem;
    max-width: 100%;
    object-fit: scale-down;
}
.paragraph {
    line-height: 1.5;
}
/* Karir */
.karir-banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.search-karir {
    position: relative;
    width: 100%;
    border: solid 2px var(--primary);
    padding-left: 4rem;
    padding-right: 4rem;
}

.search-icon-karir {
    position: absolute;
    top: 100%;
    right: 10px;
    color: var(--primary);
}
.search-button-karir {
    background-color: var(--primary);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 1px var(--primary);
}
.search-button-karir:hover {
    background-color: white;
    border: solid 1.5px var(--primary);
    color: var(--primary);
    transition-duration: 150ms;
}

.career-card {
    background-image: url('../images/karir/card.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    transition-duration: 300ms;
}

.career-card a {
    border: solid 1px var(--primary);
    background-color: var(--primary);
    color: white;
    transition-duration: 300ms;
}

.career-card:hover {
    transition-duration: 300ms;
    color: var(--primary);
    scale: 110%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.career-card a:hover {
    background-color: white;
    color: var(--primary);
    transition-duration: 300ms;
    border: solid 2px var(--primary);
}
.karir-footer {
    background-color: #F2ECEC;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 999;
}

.karirform-footer {
    background-color: #F2ECEC;
}

.popup-body {
    margin-bottom: 180px;
}

.secondary {
    color: var(--secondary);
}

.position-name {
    color: var(--secondary);
}

.karir-icon {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
}
.karir-icon-facebook {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}
.karir-icon-youtube {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 0.35rem 0.5rem 0.35rem;
}

.karir-icon-x {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 0.45rem 0.5rem 0.45rem;
}

.karir-icon:hover {
    background-color: var(--primary);
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.karir-icon-facebook:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.karir-icon-youtube:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}
.karir-icon-x:hover {
    background-color: white;
    color:var(--primary);
    transition-duration: 300ms;
}

.tutup {
    color: var(--secondary);
    background-color: white;
    border: 2px solid var(--secondary);
    transition-duration: 300ms;
}
.daftar {
    color: var(--primary);
    background-color: white;
    border: 2px solid var(--primary);
    transition-duration: 300ms;
}
.tutup:hover {
    color: white;
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    transition-duration: 300ms;
}
.daftar:hover {
    color: white;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    transition-duration: 300ms;
}

/* Tentang */
.tentang-banner {
    background-image: url('../images/tentang/banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.tentang-banner .text {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 10);
}

.tentang-body {
    background-color: var(--gray-100);
}

.milestone img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.milestone-button {
    background-color: white;
    border: solid 2px var(--primary);
    color: var(--primary);
    transition-duration: 300ms;
}

.milestone-button:hover {
    background-color: var(--primary);
    color: white;
    transition-duration: 300ms;
}

.clicked {
    background-color: var(--primary);
    color: white;
    transition-duration: 300ms;
}

.visi-button {
    background-color: var(--primary);
    color: white;
    border: solid 1px var(--primary);
}
.misi-button {
    background-color: var(--secondary);
    color: white;
    border: solid 1px var(--secondary);
}

.visi-button:hover {
    color: var(--primary);
    background-color: white;
    border: solid 3px var(--primary);
    transition-duration: 300ms;
}
.misi-button:hover {
    color: var(--secondary);
    background-color: white;
    border: solid 3px var(--secondary);
    transition-duration: 300ms;
}
.visi-title {
    color: var(--primary);
}
.misi-title {
    color: var(--secondary);
}
.kebmut-img {
    width: 100%;
    object-fit: cover;
}
.sertif-button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}
.sertif-thumbnail {
    width: 100%;
    height: 12rem;
    object-fit: contain;
    background-color: white;
}
.sertif-thumbnail:hover {
    scale: 110%;
    transition-duration: 300ms;
}

.carousel-control-prev, .carousel-control-next {
    background-color: var(--primary);
    color: var(--secondary);
}

.contact {
    gap: 2.2rem;
}

.location-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.location-button h1:hover {
    color: var(--secondary);
    transition-duration: 300ms;
}

.subtitle-category  {
    color: black;
    transition-duration: 300ms;
}
.category-card:hover .subtitle-category {
    color: var(--primary);
    transition-duration: 300ms;
}

/* Form */
.banner-form {
    background-image: url('../images/karir/popup/formBanner.webp');
    width: 100%;
    background-size: cover;
}



.position-name {
    color: var(--secondary);
}
.form-input {
    width: 100%;
}
.submit-form-btn {
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    transition-duration: 300ms;
}
.submit-form-btn:hover {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    transition-duration: 300ms;
}

/* GSC  */
.gsc-banner {
    background-image: url('../images/serviceCenter/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 500px;
}

.gsc-text {
    font-size: 50px;
}

.gsc-textbox {
    background-color: white;
    color: var(--primary);
    border: 3px solid var(--primary);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 33%;
}

.gsc-item {
    border: 3px solid var(--primary);
    color: var(--primary);
    height: 16rem;
    transition-duration: 300ms;
}

.gsc1-item-mid {
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.gsc1-item-icon {
    font-size: 150px;
}

.gsc1-item-text {
    background-color: var(--gray-100);
    width: auto;
    display: inline-block;
    border-left: solid 4px var(--secondary);
}

.gsc-item:hover {
    transition-duration: 300ms;
    background-color: var(--primary);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.gsc-appointment {
    z-index: 99999;
    border: 3px solid var(--primary);
    color: var(--primary);
    background-color: white;
    transition-duration: 300ms;
}
.gsc-appointment-btn {
    background-color: var(--primary);
    color: white;
    border: var(--primary);
    transition-duration: 300ms;
}

.gsc-item-flexbox {
    margin-top: -465px;
}

.cg-btn {
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

.status {
    color: #35A739;
}

.klaim-box {
    border: 2px solid black;
}

.input-wrapper {
    position: relative;
  }

  .klaim-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-wrapper i {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
    pointer-events: none;
  }

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .newsletter-icon-facebook {
        color: white;
        padding: 0.75rem 1rem 0.75rem 1rem;
    }

    .newsletter-icon {
        color: white;
        padding: 0.75rem 0.85rem 0.75rem 0.85rem;
    }

    .newsletter-icon-youtube {
        color: white;
        padding: 0.75rem 0.6rem 0.75rem 0.6rem;
    }

    .newsletter-icon-x {
        color: white;
        padding: 0.75rem 0.7rem 0.75rem 0.7rem;
    }

    .newsletter-icon:hover {
        background-color: white;
        color:var(--primary);
        transition-duration: 300ms;
    }
    .newsletter-icon-facebook:hover {
        background-color: white;
        color:var(--primary);
        transition-duration: 300ms;
    }
    .newsletter-icon-youtube:hover {
        background-color: white;
        color:var(--primary);
        transition-duration: 300ms;
    }
    .newsletter-icon-x:hover {
        background-color: white;
        color:var(--primary);
        transition-duration: 300ms;
    }
    .newsletter .box {
        width: 100%;
    }
    .artikel-image {
        height: 16rem;
        width: 100%;
        object-fit: cover;
    }
    .category-name {
        font-size: xx-large;
    }
    .tentang-banner {
        height: 400px;
    }
}
